{
  "kv": {
    "cassandra": {
      {{ with secret "/services/nvcf-api/kv/data/cassandra/creds" }}
      "username": "{{ .Data.data.username }}",
      "password": "{{ .Data.data.password }}"
      {{ end }}
    },
    "tokens": {
    {{- with secret `services/nvcf-api/jwt/sign/nvcf-api` }}
      "notary": "{{ .Data.token }}",
    {{- end }}
    {{- with secret `services/sis-api/jwt/sign/nvcf-api` }}
      "icms": "{{ .Data.token }}",
    {{- end }}
    {{- with secret `services/ess-api/jwt/sign/nvcf-api` }}
      "ess": "{{ .Data.token }}",
    {{- end }}
    {{- with secret `services/api-keys-api/jwt/sign/nvcf-api` }}
      "api-keys": "{{ .Data.token }}",
    {{- end }}
    {{- with secret `services/reval/jwt/sign/nvcf-api` }}
      "reval": "{{ .Data.token }}"
    {{- end }}
  },
    "jwks": "{{ with secret "services/all/kv/data/encryption/keys/stored_data" }}{{ .Data.data.keys }}{{ end }}",
    "kid": "{{ with secret "services/all/kv/data/encryption/keys/stored_data"  }}{{ .Data.data.current_kid }}{{ end }}",
    "nats": {
      {{ with secret "/services/all/kv/data/nats/creds" }}
      "api-auth": {
        "user": "{{ .Data.data.public_key }}",
        "user-seed": "{{ .Data.data.key }}"
      }
      {{ end }}
    },
    "worker-nkey-seed": "{{ with secret "/services/all/kv/data/nats/creds" }}{{ .Data.data.key }}{{ end }}",
    "worker-tracing": "dummy-worker-tracing",
    "sidecars": {
      "image-pull-secret": "{{ with secret "/services/nvcf-api/kv/data/sidecars/image-pull-secret" }}{{ .Data.data.secret }}{{ end }}"
    }
  }
} 
